@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Stardos+Stencil:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stiluri globale pentru body */
body {
  background-color: #76b6fff0;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #222;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 1.5rem;
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
